* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
  margin: 0;
  padding: 0;
}

.container,
.container-fluid {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

body {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 99999;
  border-bottom: 3px solid #5B0888;
}
.navbar::after {
  content: "";
  width: 100%;
  height: 0%;
  background: #5B0888;
  position: absolute;
  top: 0%;
  left: 0;
  transition: all ease 0.3s;
  z-index: -1;
}
.navbar:hover::after {
  height: 100%;
}
.navbar .navbar-brand {
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-family: "Josefin Sans", sans-serif;
  color: #EECEFF;
  position: relative;
}
.navbar .navbar-brand .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.navbar .navbar-brand .letter {
  display: inline-block;
  line-height: 1em;
}
.navbar .nav-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #FCF6FF;
  transition: all linear 0.3s;
  position: relative;
  padding: 15px !important;
}
.navbar .nav-link::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #EECEFF;
  position: absolute;
  bottom: -30%;
  left: 50%;
  transition: all linear 0.3s;
  transform: translateX(-50%);
}
.navbar .nav-link:hover {
  color: #EECEFF;
}
.navbar .nav-link:hover::after {
  width: 100%;
}

.sticky {
  border-bottom: 3px solid #A720F0;
}
.sticky::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #5B0888;
  position: absolute;
  top: 0;
  left: 0;
  transition: all linear 0.3s;
}

#banner {
  background: url(../images/banner-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 180px 0 100px;
}
#banner .banner-info h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  font-family: "Aclonica", sans-serif;
  color: #FCF6FF;
  line-height: normal;
  padding: 0 0 10px;
}
#banner .banner-info h1 span {
  display: block;
  font-size: 80px;
  color: #EECEFF;
}
#banner .banner-info h1 span .letter {
  display: inline-block;
  line-height: 1em;
}
#banner .banner-info p {
  padding-bottom: 100px;
  color: #FCF6FF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#banner .banner-info p span {
  color: #FCF6FF;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#banner .banner-info .banner-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#banner .banner-info .banner-link a {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #FCF6FF;
  padding: 15px 30px;
  transition: all linear 0.3s;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  background: #5B0888;
  overflow: hidden;
}
#banner .banner-info .banner-link a::before {
  content: "";
  width: 100%;
  height: 0%;
  background: #FCF6FF;
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease 0.3s;
  z-index: -1;
}
#banner .banner-info .banner-link a:last-child {
  background: transparent;
  display: inline-block;
  font-weight: 300;
  padding: 10px 0;
  position: relative;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: #FCF6FF;
}
#banner .banner-info .banner-link a:last-child::before {
  display: none;
}
#banner .banner-info .banner-link a:last-child::after {
  content: "";
  width: 50%;
  height: 2px;
  background: #EECEFF;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all linear 0.3s;
}
#banner .banner-info .banner-link a:last-child:hover::after {
  width: 100%;
}
#banner .banner-info .banner-link a:hover {
  color: #5B0888;
}
#banner .banner-info .banner-link a:hover:last-child {
  color: #FCF6FF;
}
#banner .banner-info .banner-link a:hover::before {
  background: #FCF6FF;
  height: 100%;
}

#about {
  padding: 100px 0;
}
#about .row {
  align-items: flex-end;
}
#about .about-img {
  position: relative;
  overflow: hidden;
}
#about .about-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #5B0888;
  position: absolute;
  top: -100%;
  transition: all ease-in-out 0.3s;
  left: 0;
  opacity: 0.3;
}
#about .about-img:hover::after {
  top: 0;
}
#about .about-img:hover .about-more a {
  bottom: 0%;
}
#about .about-img .about-more a {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #0C0312;
  text-transform: capitalize;
  position: absolute;
  bottom: -20%;
  text-align: center;
  background: #5B0888;
  width: 100%;
  padding: 20px 0;
  color: #EECEFF;
  transition: all linear 0.3s;
  z-index: 2;
}
#about .about-info .head h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #5B0888;
  text-align: center;
  position: relative;
  text-transform: capitalize;
  text-align: right;
}
#about .about-info .head h2::after {
  content: "";
  width: 50%;
  height: 3px;
  background: #5B0888;
  position: absolute;
  bottom: 0;
  right: 0;
}
#about .about-info .head h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
}
#about .about-info .head p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 30px 0;
}
#about .about-info .about-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#about .about-info .about-item .uidesign {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding: 20px 30px;
  box-shadow: 0 0 3px #EECEFF;
  transition: all ease-in-out 0.3s;
  position: relative;
}
#about .about-info .about-item .uidesign .icon {
  width: 10%;
}
#about .about-info .about-item .uidesign .uiinfo h4 {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: #5B0888;
  text-transform: capitalize;
}
#about .about-info .about-item .uidesign .uiinfo p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  padding-top: 10px;
}
#about .about-info .about-item .uidesign::after {
  content: "";
  width: 3px;
  height: 0%;
  background: #5B0888;
  position: absolute;
  top: 0;
  right: 0;
  transition: all ease 0.3s;
}
#about .about-info .about-item .uidesign::before {
  content: "";
  width: 3px;
  height: 0%;
  background: #5B0888;
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translateY(-50%);
  transition: all ease 0.3s;
}
#about .about-info .about-item .uidesign:hover {
  box-shadow: 0 0 20px #EECEFF;
}
#about .about-info .about-item .uidesign:hover::after {
  height: 100%;
}
#about .about-info .about-item .uidesign:hover::before {
  height: 20%;
}
#about .about-hire {
  margin-top: 80px;
  background: #5B0888;
  padding: 50px 0;
}
#about .about-hire .col-lg-8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#about .about-hire .hire h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  color: #FCF6FF;
  font-size: 32px;
}
#about .about-hire .hire h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FCF6FF;
}
#about .about-hire a {
  padding: 15px 30px;
  background: #A720F0;
  color: #FCF6FF;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all ease 0.3s;
  display: inline-block;
}
#about .about-hire a::after {
  content: "";
  width: 100%;
  height: 0%;
  background: #FCF6FF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all ease 0.3s;
}
#about .about-hire a:hover {
  color: #5B0888;
}
#about .about-hire a:hover::after {
  height: 100%;
}

#experience {
  padding-bottom: 120px;
}
#experience .head {
  padding-bottom: 80px;
}
#experience .head h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #5B0888;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}
#experience .head h2::after {
  content: "";
  width: 50%;
  height: 3px;
  background: #5B0888;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}
#experience .head h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  text-align: center;
  padding: 8px 0 30px;
}
#experience .head p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 30px 0;
  text-align: center;
  padding: 0 20px;
}
#experience .uidesign {
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0 0 3px #EECEFF;
  transition: all ease 0.3s;
  position: relative;
  overflow: hidden;
}
#experience .uidesign::after {
  content: "";
  width: 10%;
  height: 50%;
  background: #5B0888;
  position: absolute;
  bottom: -40%;
  right: 0;
  transform: rotate(45deg);
  transition: all ease 0.3s;
}
#experience .uidesign .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
#experience .uidesign .icon img {
  width: 10%;
}
#experience .uidesign .icon span {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #5B0888;
  opacity: 0.3;
}
#experience .uidesign .uiinfo h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #5B0888;
  text-transform: capitalize;
  transition: all ease 0.3s;
}
#experience .uidesign .uiinfo h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  padding-bottom: 30px;
}
#experience .uidesign .uiinfo p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
}
#experience .uidesign:hover {
  box-shadow: 0 0 20px #EECEFF;
}
#experience .uidesign:hover .uiinfo h3 {
  color: #A720F0;
}
#experience .uidesign:hover::after {
  background: #A720F0;
  bottom: -25%;
}
#experience .exm-more {
  margin-bottom: 30px;
  padding: 178px 30px 50px;
  box-shadow: 0 0 3px #EECEFF;
  transition: all ease 0.3s;
  position: relative;
  overflow: hidden;
}
#experience .exm-more::after {
  content: "";
  width: 10%;
  height: 50%;
  background: #5B0888;
  position: absolute;
  bottom: -40%;
  right: 0;
  transform: rotate(45deg);
  transition: all ease 0.3s;
}
#experience .exm-more h2 {
  font-size: 90px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 50px;
  position: absolute;
  top: 30px;
  left: 30px;
  animation: expplus infinite ease 5s;
}
@keyframes expplus {
  0% {
    transform: rotate(0deg);
    color: #A720F0;
  }
  50% {
    transform: rotate(360deg);
    color: #5B0888;
  }
  100% {
    transform: rotate(0deg);
    color: #A720F0;
  }
}
#experience .exm-more h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #5B0888;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  text-align: right;
  position: relative;
}
#experience .exm-more h3::after {
  content: "";
  width: 70%;
  height: 3px;
  background: #5B0888;
  position: absolute;
  bottom: -20%;
  right: 0;
}
#experience .exm-more h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  text-align: right;
  padding-top: 10px;
}
#experience .exm-more:hover {
  box-shadow: 0 0 20px #EECEFF;
}
#experience .exm-more:hover h3 {
  color: #A720F0;
}
#experience .exm-more:hover::after {
  background: #A720F0;
  bottom: -25%;
}

#services .ser-add {
  background: #5B0888;
  padding: 80px 0;
}
#services .ser-add h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #FCF6FF;
  padding-bottom: 50px;
}
#services .ser-add h2 span {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #EECEFF;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
}
#services .ser-add p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #FCF6FF;
}
#services .services-main {
  padding: 100px 0;
}
#services .services-main .head {
  padding-bottom: 80px;
}
#services .services-main .head h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #5B0888;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}
#services .services-main .head h2::after {
  content: "";
  width: 50%;
  height: 3px;
  background: #5B0888;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}
#services .services-main .head h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  text-align: center;
  padding: 8px 0 30px;
}
#services .services-main .head p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 30px 0;
  text-align: center;
  padding: 0 20px;
}
#services .services-main .uidesign {
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 0 3px #EECEFF;
  transition: all ease 0.3s;
  position: relative;
  overflow: hidden;
}
#services .services-main .uidesign::after {
  content: "";
  width: 20%;
  height: 20%;
  background: #5B0888;
  position: absolute;
  top: -20%;
  right: 0;
  z-index: -1;
  border-radius: 0 0 0 20px;
  transition: all ease 0.3s;
}
#services .services-main .uidesign .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
#services .services-main .uidesign .icon img {
  width: 15%;
}
#services .services-main .uidesign .icon span {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FCF6FF;
  margin: -20px 5px 0;
}
#services .services-main .uidesign .uiinfo h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #5B0888;
  text-transform: capitalize;
  transition: all ease 0.3s;
}
#services .services-main .uidesign .uiinfo h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  padding-bottom: 30px;
}
#services .services-main .uidesign .uiinfo p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
}
#services .services-main .uidesign:hover {
  box-shadow: 0 0 20px #EECEFF;
}
#services .services-main .uidesign:hover::after {
  background: #A720F0;
  top: 0;
}
#services .services-main .uidesign:hover .uiinfo h3 {
  color: #A720F0;
}
#services .services-main .ser-more {
  padding: 30px 30px 50px;
  box-shadow: 0 0 3px #EECEFF;
  transition: all ease 0.3s;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
#services .services-main .ser-more::after {
  content: "";
  width: 20%;
  height: 20%;
  background: #5B0888;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 0 0 0 20px;
  transition: all ease 0.3s;
}
#services .services-main .ser-more span {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FCF6FF;
  margin: -15px 0px 0;
  padding: 0 0 144px;
}
#services .services-main .ser-more h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #5B0888;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  text-align: right;
  position: relative;
}
#services .services-main .ser-more h3::after {
  content: "";
  width: 130%;
  height: 3px;
  background: #5B0888;
  position: absolute;
  bottom: -20%;
  right: 0;
}
#services .services-main .ser-more h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  text-align: right;
  padding-top: 10px;
}
#services .services-main .ser-more:hover {
  box-shadow: 0 0 20px #EECEFF;
}
#services .services-main .ser-more:hover h3 {
  color: #A720F0;
}
#services .services-main .ser-more:hover::after {
  background: #A720F0;
}

#prices {
  padding-bottom: 100px;
}
#prices .prices-add {
  background: #5B0888;
  padding: 80px 0;
}
#prices .prices-add h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #FCF6FF;
  padding-bottom: 50px;
}
#prices .prices-add h2 span {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #EECEFF;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
}
#prices .prices-add p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #FCF6FF;
}
#prices .prices-main {
  padding: 100px 0;
}
#prices .prices-main .head h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #5B0888;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}
#prices .prices-main .head h2::after {
  content: "";
  width: 50%;
  height: 3px;
  background: #5B0888;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}
#prices .prices-main .head h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  text-align: center;
  padding: 8px 0 30px;
}
#prices .prices-main .head p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 30px 0;
  text-align: center;
  padding: 0 20px;
}
#prices .price-list .items {
  position: relative;
  background: #FCF6FF;
  transition: all ease-in-out 0.3s;
}
#prices .price-list .items .popular {
  position: absolute;
  top: 10%;
  left: 50%;
  transition: all ease-in-out 0.3s;
  transform: translateX(-50%);
  z-index: -99;
  width: 70%;
  background: #A720F0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 15px 0;
  text-align: center;
  color: #FCF6FF;
  text-transform: capitalize;
  opacity: 0;
}
#prices .price-list .items h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Josefin Sans", sans-serif;
  color: #FCF6FF;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 0 80px;
  background: #5B0888;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  transition: all ease-in-out 0.3s;
}
#prices .price-list .items h4 {
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Josefin Sans", sans-serif;
  color: #FCF6FF;
  text-align: center;
  padding: 20px;
  background: #A720F0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease-in-out 0.3s;
}
#prices .price-list .items h4 span {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FCF6FF;
}
#prices .price-list .items ul {
  padding: 50px 0 30px 80px;
}
#prices .price-list .items ul li {
  padding: 5px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 26px;
  text-transform: capitalize;
}
#prices .price-list .items ul li span {
  padding: 0 20px 0 0;
  color: #5B0888;
}
#prices .price-list .items a {
  padding: 15px 30px;
  background: #5B0888;
  color: #FCF6FF;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all ease 0.3s;
  display: block;
  text-align: center;
}
#prices .price-list .items a::after {
  content: "";
  width: 100%;
  height: 0%;
  background: #A720F0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all ease 0.3s;
}
#prices .price-list .items:hover {
  box-shadow: 0 0 30px #EECEFF;
}
#prices .price-list .items:hover .popular {
  top: -9.3%;
  opacity: 1;
  background: #5B0888;
  z-index: 9;
}
#prices .price-list .items:hover h3 {
  background: #A720F0;
}
#prices .price-list .items:hover h4 {
  background: #5B0888;
}
#prices .price-list .items:hover a {
  color: #FCF6FF;
}
#prices .price-list .items:hover a::after {
  height: 100%;
}
#prices .sponser {
  background: #5B0888;
  margin: 80px 0 0;
  padding: 50px 0;
}
#prices .sponser .items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#prices .sponser .items p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #FCF6FF;
  text-transform: capitalize;
  text-align: center;
  transition: all ease-in-out 0.3s;
  opacity: 0.4;
}
#prices .sponser .items .slick-center {
  opacity: 1;
}

#testimonial {
  padding-bottom: 120px;
}
#testimonial .head h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #5B0888;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}
#testimonial .head h2::after {
  content: "";
  width: 50%;
  height: 3px;
  background: #5B0888;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}
#testimonial .head h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  text-align: center;
  padding: 8px 0 30px;
}
#testimonial .head p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 30px 0;
  text-align: center;
  padding: 0 20px 30px;
}
#testimonial .slider .col-lg-4 {
  padding: 50px 10px;
  transition: all ease-in-out 0.3s;
}
#testimonial .slider .item {
  background: #ffffff;
  box-shadow: 0 0 1px #A720F0;
  transition: all ease-in-out 0.3s;
  padding: 20px;
  position: relative;
}
#testimonial .slider .item::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #FCF6FF;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: all ease-in-out 0.3s;
}
#testimonial .slider .item .star {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
  padding: 0 0 20px;
  opacity: 0.5;
}
#testimonial .slider .item .star span {
  color: #5B0888;
  font-size: 14px;
}
#testimonial .slider .item .star span:nth-child(2), #testimonial .slider .item .star span:nth-child(3), #testimonial .slider .item .star span:nth-child(4) {
  color: #A720F0;
}
#testimonial .slider .item .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#testimonial .slider .item .info .img {
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
}
#testimonial .slider .item .info .img img {
  margin-top: -20px;
}
#testimonial .slider .item .info h3 {
  padding: 20px 0 0;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: #0C0312;
}
#testimonial .slider .item .info h3 span {
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
#testimonial .slider .item .info h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #5B0888;
  padding: 0 0 30px;
}
#testimonial .slider .item .info p {
  color: #0C0312;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
#testimonial .slider .item .info p span {
  color: #5B0888;
  font-size: 16px;
  opacity: 0.3;
}
#testimonial .slider .slick-center .item {
  box-shadow: 0 0 20px #EECEFF;
  transform: scale(1.1);
}
#testimonial .slider .slick-center .item::after {
  opacity: 0;
}
#testimonial .slider ul {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 0 80px;
}
#testimonial .slider ul li {
  background: #EECEFF;
  height: 5px;
  width: 50px;
  transition: all ease-in-out 0.3s;
  z-index: -1;
  border-radius: 20px;
  overflow: hidden;
}
#testimonial .slider ul li button {
  display: none !important;
}
#testimonial .slider ul .slick-active {
  position: relative;
}
#testimonial .slider ul .slick-active::after {
  height: 5px;
  width: 50px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #5B0888;
  animation: slick-line ease-in-out 3s;
}
@keyframes slick-line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
#testimonial .slider .fa-angle-right {
  background: #ffffff;
  padding: 20px 25px;
  font-size: 25px;
  color: #5B0888;
  border-radius: 50%;
  box-shadow: 0 0 5px #EECEFF;
  transition: all linear 0.3s;
  position: absolute;
  bottom: 7%;
  right: 30%;
}
#testimonial .slider .fa-angle-right:hover {
  background: #5B0888;
  color: #FCF6FF;
  box-shadow: 0 0 20px #EECEFF;
}
#testimonial .slider .fa-angle-left {
  background: #ffffff;
  padding: 20px 25px;
  font-size: 25px;
  color: #5B0888;
  border-radius: 50%;
  box-shadow: 0 0 5px #EECEFF;
  transition: all linear 0.3s;
  position: absolute;
  bottom: 7%;
  left: 30%;
}
#testimonial .slider .fa-angle-left:hover {
  background: #5B0888;
  color: #FCF6FF;
  box-shadow: 0 0 20px #EECEFF;
}
#testimonial .container-fluid {
  background: #5B0888;
}
#testimonial .container-fluid .review {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 50px 0;
  gap: 50px;
}
#testimonial .container-fluid .review .items {
  text-align: center;
}
#testimonial .container-fluid .review .items h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Josefin Sans", sans-serif;
  color: #FCF6FF;
}
#testimonial .container-fluid .review .items h3 {
  text-transform: capitalize;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #FCF6FF;
}

#blog {
  padding-bottom: 120px;
}
#blog .head h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #5B0888;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}
#blog .head h2::after {
  content: "";
  width: 50%;
  height: 3px;
  background: #5B0888;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}
#blog .head h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  text-align: center;
  padding: 8px 0 30px;
}
#blog .head p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 30px 0;
  text-align: center;
  padding: 0 20px 80px;
}
#blog .blog-info {
  margin-bottom: 80px;
  box-shadow: 0 0 1px #A720F0;
  transition: all ease-in-out 0.3s;
}
#blog .blog-info:hover .img::after {
  opacity: 0.3;
  height: 100%;
}
#blog .blog-info:hover .info h3,
#blog .blog-info:hover .info a {
  color: #A720F0;
}
#blog .blog-info:hover .info a::after {
  background: #A720F0;
}
#blog .blog-info .img {
  position: relative;
}
#blog .blog-info .img::after {
  content: "";
  width: 100%;
  height: 0%;
  background: #5B0888;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
#blog .blog-info .info {
  padding: 30px 15px 40px;
}
#blog .blog-info .info h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  position: relative;
  transition: all ease-in-out 0.3s;
}
#blog .blog-info .info h4 span {
  padding-right: 15px;
}
#blog .blog-info .info h4::after {
  content: "th";
  color: #0C0312;
  position: absolute;
  top: 0;
  left: 21px;
  font-size: 12px;
}
#blog .blog-info .info h3 {
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #5B0888;
  line-height: normal;
  padding: 0 0 20px;
  transition: all ease-in-out 0.3s;
}
#blog .blog-info .info p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  padding: 0 0 30px;
  transition: all ease-in-out 0.3s;
}
#blog .blog-info .info a {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #5B0888;
  text-transform: capitalize;
  position: relative;
  transition: all ease-in-out 0.3s;
}
#blog .blog-info .info a::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #5B0888;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all ease-in-out 0.3s;
}
#blog .blog-info .info a span {
  transition: all ease-in-out 0.3s;
}
#blog .blog-info .info a:hover span {
  padding-left: 10px;
}
#blog .container-fluid {
  padding: 50px 100px;
  background: #5B0888;
}
#blog .container-fluid .subscirbe p {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}
#blog .container-fluid .subscirbe p span {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 42px;
}
#blog .container-fluid .subscirbe input {
  padding: 15px 230px 15px 20px;
  border: 0;
}
#blog .container-fluid .subscirbe input:nth-child(2) {
  margin-left: 10px;
}
#blog .container-fluid .subscirbe input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #5B0888;
  text-transform: capitalize;
}
#blog .container-fluid .subscirbe input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #5B0888;
  text-transform: capitalize;
}
#blog .container-fluid .subscirbe input:focus {
  border: 0;
  outline: none;
}
#blog .container-fluid .subscirbe input:focus::-moz-placeholder {
  color: #A720F0;
}
#blog .container-fluid .subscirbe input:focus::placeholder {
  color: #A720F0;
}
#blog .container-fluid .subscirbe .submit {
  padding: 62px 0 0;
}
#blog .container-fluid .subscirbe .submit a {
  padding: 12px 35px;
  background: #A720F0;
  color: #FCF6FF;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all ease 0.3s;
  display: inline-block;
}
#blog .container-fluid .subscirbe .submit a::after {
  content: "";
  width: 100%;
  height: 0%;
  background: #FCF6FF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all ease 0.3s;
}
#blog .container-fluid .subscirbe .submit a:hover {
  color: #5B0888;
}
#blog .container-fluid .subscirbe .submit a:hover::after {
  height: 100%;
}

#footer .head {
  padding-bottom: 30px;
}
#footer .head h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #5B0888;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}
#footer .head h2::after {
  content: "";
  width: 50%;
  height: 3px;
  background: #5B0888;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}
#footer .head h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
  text-align: center;
  padding: 8px 0 30px;
}
#footer .head p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 30px 0;
  text-align: center;
  padding: 0 20px 80px;
}
#footer .head h4 {
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-family: "Josefin Sans", sans-serif;
  color: #5B0888;
  text-align: center;
}
#footer .head h4 span {
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
#footer .footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
#footer .footer-info .add {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
#footer .footer-info .add .fa-location-dot {
  color: #A720F0;
  font-size: 20px;
  padding-right: 15px;
}
#footer .footer-info .add .fa-phone {
  color: #A720F0;
  font-size: 20px;
  padding-right: 10px;
}
#footer .footer-info .add p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #0C0312;
}
#footer .footer-info .add p span {
  font-size: 18px;
  padding-left: 10px;
}
#footer .footer-info .add p a {
  color: #0C0312;
  padding-left: 20px;
}
#footer .footer-info .media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#footer .footer-info .media a {
  font-size: 32px;
  color: #5B0888;
  transition: all ease-in-out 0.3s;
}
#footer .footer-info .media a:hover {
  color: #A720F0;
}
#footer .container-fluid {
  padding: 30px 0;
  background: #5B0888;
}
#footer .container-fluid .copy p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FCF6FF;
}
#footer .container-fluid .copy p span {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */