$font-jose:'Josefin Sans',
sans-serif;
$font-mont:'Montserrat',
sans-serif;
$font-aclon:'Aclonica',
sans-serif;


$color-0C0312: #0C0312;
$color-5B0888: #5B0888;
$color-A720F0: #A720F0;
$color-EECEFF: #EECEFF;
$color-FCF6FF: #FCF6FF;
$color-ffffff: #ffffff;